---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title = "Home">
	<div class="container">
		<h1 class="bodytitle">Overview</h1>
		<p class="bodytext">Hi! My name is Jack. I'm currently a student at the University of Wisconsin - Stout.
			I'm in Stout's Computer Science undergraduate program with a concentration in video game design and 
			development. During my enrollment I have been a part of multiple projects involving software 
			engineering, database management, web development, and of course game development! Video games have
			always been very important to me, and I'd love to bring that passion into whatever projects I can.
		</p>
	</div>
</Layout>
