---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title = "Title">
	<div class="container">
		<h1 class="text-center"></h1>
	</div>
</Layout>
