---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title = "Home">
	<header>
    	<div class="name">Jack Decker</div>
		<div>
			<nav class="navBar">
				<a class="active" href="/">Home</a>
				<a href="/projects/">My Projects</a>
				<!-- <a href="/skills/">Skills</a> -->
				<a href="https://github.com/Casoosted-Fuper/Resume/blob/main/Resume%201-13-2026.pdf" class="button">Resume</a>
			</nav>
		</div>
	</header>
	<div class="container">
		<h1 class="bodytitle">Overview</h1>
		<p class="bodytext">Hi! My name is Jack. I'm currently a computer science student at 
			the University of Wisconsin - Stout in the game development concentration of the program.
			This is my portfolio, where you can find all my previous projects and experience!
			I have a great passion for video games and computer science. I'd love to expand my knowledge
			and experience making games and other software.
		</p>
	</div>
	<div class="container">
		<h1 class="extratitle">Contact me via email</h1>
		<a class="extraIcon" href="mailto:jackdecker65@gmail.com">
			<img src="https://static.vecteezy.com/system/resources/thumbnails/015/117/357/small/envelope-icon-in-white-colors-mail-signs-illustration-png.png"
			alt="Email icon" width="80">
		</a>
	</div>
		<div class="container">
		<h1 class="extratitle">Check out my Github</h1>
		<a class="extraIcon" href="https://github.com/Casoosted-Fuper">
			<img src="https://registry.npmmirror.com/@lobehub/icons-static-png/latest/files/dark/github.png"
			alt="Email icon" width="80">
		</a>
	</div>
</Layout>
