---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title = "Projects">
	<header>
    	<div class="name">Jack Decker</div>
		<div>
			<nav class="navBar">
				<a href="/">Home</a>
				<a href="/projects/" class="active">My Projects</a>
				<!-- <a href="/skills/">Skills</a> -->
				<a href="https://github.com/Casoosted-Fuper/Resume/blob/main/Resume%201-13-2026.pdf" class="button">Resume</a>
			</nav>
		</div>
	</header>
	<div class="container">
		<h1 class="projectTitle">Projects</h1>
	</div>
</Layout>
