---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title = "Skills">
	<div class="container">
		<h1 class="skillsTitle">Skills</h1>
	</div>
</Layout>
