<header>
    <div class="name">Jack Decker</div>
    <div>
        <nav class="navBar">
            <a class="active" href="#home" class="button">Home</a>
            <a href="#projects" class="button">My Projects</a>
            <a href="#contact me" class="button">Contact Me</a>
        </nav>
    </div>
</header>