body {
    background-color:grey;
}

header {
    background-color:black;
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
    text-align: left;
}

.name {
    float: left;
    background-color:black;
    color:skyblue;
    padding-left: 80px;
    font-size: 40px;
}

.navBar {
    text-align: right;
    padding-right: 80px;
}

.navBar a {
    float: center;
    color:white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 40px;
}

.navBar a:hover {
  background-color:darkgray;
  color: black;
}

.mainBody {
    background-color:black;
}

.bodytitle {
    color: skyblue;
    font-size: 50px;
    text-align: left;
}

.bodytext {
    color: skyblue;
    font-size: 20px;
    text-align: left;
}

.projectTitle {
    color: salmon;
    font-size: 50px;
    text-align: left;
}