body {
    background-color:grey;
}
header {
    background-color:black;
    color: white;
    padding: 10px 0;
    font-size: 1.5rem;
    text-align: left;
}

.name {
    float: left;
    background-color:black;
    padding-left: 80px;
}

.navBar {
    text-align: center !important;
    padding-right: 200px;
}

.navBar a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navBar a:hover {
  background-color:darkgray;
  color: black;
}