body {
    height: 100%;
    width: 100%;
    background-image:linear-gradient(160deg, black, black, black, purple);
}

html {
    height: 100%;
    width: 100%;
}

header {
    background-color:rgb(0,0,0,0);
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
    text-align: left;
}

.name {
    float: left;
    color:skyblue;
    padding-left: 80px;
    font-size: 40px;
}

.navBar {
    text-align: right;
    padding-right: 80px;
}

.navBar a {
    float: center;
    color:white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 40px;
}

.navBar a:hover {
  background-color:darkgray;
  color: black;
}

.bodytitle {
    color: skyblue;
    font-size: 50px;
    text-align: left;
    padding-top: 30px;
}

.bodytext {
    color: skyblue;
    font-size: 20px;
    text-align: left;
}

.projectTitle {
    color: salmon;
    font-size: 50px;
    text-align: left;
}

.skillsTitle {
    color: greenyellow;
    font-size: 50px;
    text-align: left;
}

.extraIcon {
    padding-left: 30px;
}

.extratitle {
    color: skyblue;
    font-size: 30px;
    text-align: left;
    padding-top: 30px;
}